@import "tailwindcss";

@theme {
  --color-primary: #25aae1;
  --color-primary-hover: #1f8fb8;
  --color-primary-light: #e0f2fe;
}

/* Estilos Globais */
@layer base {
  body {
    @apply bg-gray-50 text-gray-800 antialiased;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
  }
}

/* Animações e Utilitários Customizados */
@layer utilities {
  .animate-fade-in {
    animation: fade-in 0.3s ease-out;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}